---
import "../styles/global.css";
---

<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Will Jackson</title>
  </head>
  <body>
    <div class="hero bg-base-200 min-h-screen px-4">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-4xl md:text-5xl font-bold">
            Hi, I'm <span class="text-primary">Will</span>.
          </h1>

          <p class="py-6 text-sm md:text-base">
            I’m based just outside of London, where I live with my family. I
            spend my working hours making websites, designing graphics, and
            generally sorting out creative bits and bobs that need fixing.
          </p>

          <p class="pb-8 text-sm md:text-base">
            The rest of the time, I’m usually found taking photos, collecting
            and adapting recipes in the kitchen, or getting out into the
            countryside.
          </p>

          <ul
            class="menu menu-vertical md:menu-horizontal gap-2 md:gap-4 w-full items-center justify-center"
          >
            <li class="border rounded-md w-48 md:w-auto">
              <a class="justify-center">Work</a>
            </li>
            <li class="border rounded-md w-48 md:w-auto">
              <a
                class="justify-center"
                href="https://www.flickr.com/photos/willmx/">Photography</a>
            </li>
            <li class="border rounded-md w-48 md:w-auto">
              <a class="justify-center" href="https://recipes.willjackson.uk"
                >Recipes</a>
            </li>
            <li class="border rounded-md w-48 md:w-auto">
              <a class="justify-center" href="mailto:will@willjackson.uk"
                >Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
